# Visual Studio Code specific files
.vscode/

# testcases
dataset/
Preprocessing/__pycache__/
full_pipeline/__pycache__/
speed_classification/road_sign_dataset/
speed_classification/trained_model.pk1

# model
*.pk1
